@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

aside,
footer{
	font-style: italic;
	margin-top: 1em;
}

aside + p{
	margin-top: 1em;
	text-indent: 0;
}

#chapter-27 blockquote:first-of-type > header{
	margin: 1em;
	font-variant: small-caps;
}

#chapter-27 blockquote:first-of-type > footer{
	text-align: right;
}

#chapter-28 blockquote{
	font-variant: small-caps;
}

[epub|type~="z3998:signature"]{
	text-align: right;
}

#at-the-city-of-london-england div:last-of-type{
	font-style: italic;
	max-width: 50%;
}

#at-the-city-of-london-england div:last-of-type p{
	text-indent: 0;
}

#at-the-city-of-london-england div:last-of-type p strong{
	font-style: normal;
}

[epub|type~="z3998:poem"]{
	margin: 1em;
}

[epub|type~="z3998:poem"] p,
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

[epub|type~="bridgehead"]{
	display: inline-block;
	font-style: italic;
	max-width: 60%;
	text-align: justify;
	text-indent: 0;
}

[epub|type~="bridgehead"] i{
	font-style: normal;
}
