@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

aside,
footer{
	font-style: italic;
	margin-top: 1em;
}

aside + p{
	margin-top: 1em;
	text-indent: 0;
}

.proclamation > header{
	margin: 1em;
	font-variant: small-caps;
	text-align: center;
}

.proclamation > footer{
	text-align: right;
}

.motto{
	font-variant: small-caps;
}

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

.signature{
	text-align: right;
}

.notary{
	font-style: italic;
	max-width: 50%;
}

.notary p{
	text-indent: 0;
}

.notary p strong{
	font-style: normal;
}

[epub|type~="z3998:poem"]{
	margin: 1em;
}

[epub|type~="z3998:poem"] + p,
[epub|type~="z3998:verse"] + p{
	text-indent: 0;
}

[epub|type~="z3998:poem"] p,
[epub|type~="z3998:verse"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

section > header{
	text-align: center;
}

[epub|type~="bridgehead"]{
	display: inline-block;
	font-style: italic;
	margin: 0 auto 3em auto;
	max-width: 60%;
	text-align: justify;
	text-indent: 0;
}

[epub|type~="bridgehead"] i{
	font-style: normal;
}

abbr.name{
	white-space: nowrap;
}
